.outer {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: white;
	color: #183153;
	height: 80px;
}

.navbutton__block {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbutton {
	font-size: 30px;
	margin: 0 20px;
}

.logo__block {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 40%;
}

.logo {
	margin: 0 10px;
	font-size: 20px;
	font-weight: bolder;
}

.user__block {
	position: relative;
	width: 60%;
}

.user__block__right {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	right: 20px;
}

.icons {
	display: flex;
	flex-direction: row;
}

.icon {
	margin: 0 10px;
	font-size: 20px;
}

.user__options {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.option {
	margin: 5px;
}

.option:hover {
	cursor: pointer;
	color: cyan;
}
.icon:hover {
	color: cyan;
}

@media only screen and (max-width: 700px) {
	.logo {
		display: none;
	}
}
